<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Angel_Core::angel">
					<resource id="Angel_QoH::qoh" sortOrder="10" title="Queen of Hearch">
						<resource id="Angel_QoH::qoh_manager" sortOrder="10" title="Queen of Hearch Management" />
						<resource id="Angel_QoH::Ticket" sortOrder="10" title="Ticket" />
						<resource id="Angel_QoH::Prize" sortOrder="10" title="Prize" />
					</resource>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Angel_QoH::config_angel_qoh" title="Queen of Hearts"/>
						</resource>
					</resource>
				</resource>
				<resource id="Magento_Sales::sales">
					<resource id="Angel_QoH::report" sortOrder="10" title="Queen of Hearts Report"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
