<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Angel\QoH\Api\PurchaseManagementInterface" type="Angel\QoH\Model\PurchaseManagement"/>
	<preference for="Angel\QoH\Api\ReceiptManagementInterface" type="Angel\QoH\Model\ReceiptManagement"/>
	<preference for="Angel\QoH\Api\TicketRepositoryInterface" type="Angel\QoH\Model\TicketRepository"/>
	<preference for="Angel\QoH\Api\Data\TicketInterface" type="Angel\QoH\Model\Data\Ticket"/>
	<preference for="Angel\QoH\Api\Data\TicketSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<!--<virtualType name="Angel\QoH\Model\ResourceModel\Ticket\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
		<!--<arguments>-->
			<!--<argument name="mainTable" xsi:type="string">angel_qoh_ticket</argument>-->
			<!--<argument name="resourceModel" xsi:type="string">Angel\QoH\Model\ResourceModel\Ticket\Collection</argument>-->
		<!--</arguments>-->
	<!--</virtualType>-->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="angel_qoh_ticket_report_data_source" xsi:type="string">Angel\QoH\Model\ResourceModel\Ticket\Grid\Collection</item>
				<item name="angel_qoh_ticket_listing_data_source" xsi:type="string">Angel\QoH\Model\ResourceModel\Ticket\Grid\Collection</item>
				<item name="angel_qoh_ticket_print_listing_data_source" xsi:type="string">Angel\QoH\Model\ResourceModel\Ticket\Grid\PrintTicket\Collection</item>
				<item name="angel_qoh_prize_listing_data_source" xsi:type="string">Angel\QoH\Model\ResourceModel\Prize\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="Angel\QoH\Api\PrizeRepositoryInterface" type="Angel\QoH\Model\PrizeRepository"/>
	<preference for="Angel\QoH\Api\Data\PrizeInterface" type="Angel\QoH\Model\Data\Prize"/>
	<preference for="Angel\QoH\Api\Data\PrizeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<!--<virtualType name="Angel\QoH\Model\ResourceModel\Prize\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
		<!--<arguments>-->
			<!--<argument name="mainTable" xsi:type="string">angel_qoh_prize</argument>-->
			<!--<argument name="resourceModel" xsi:type="string">Angel\QoH\Model\ResourceModel\Prize\Collection</argument>-->
		<!--</arguments>-->
	<!--</virtualType>-->
	<type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
		<plugin name="add_card_number_quote_to_order_item" type="Angel\QoH\Plugin\CardNumberQuoteToOrderItem"/>
	</type>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="angel_qoh_draw" xsi:type="object">Angel\QoH\Console\Command\DrawCard</item>
			</argument>
		</arguments>
	</type>
</config>
