<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="angel" sortOrder="999" translate="label">
			<label>Angel</label>
		</tab>
		<section id="qoh" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Queen Of Hearts</label>
			<tab>angel</tab>
			<resource>Angel_QoH::config_angel_qoh</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
